# You already have client_id and client_secret.
# Paste remaining values after generating refresh token.

ZOHO_CLIENT_ID=1000.O94VST5BTGY6T9C1ZX5VQ4PPKW59JC
ZOHO_CLIENT_SECRET=6187c3d45cb3b119103c6b9a5cacf529e6e498a7e9
ZOHO_REFRESH_TOKEN=
ZOHO_RECRUIT_BASE_URL=https://recruit.zoho.in/recruit/v2
ZOHO_ACCOUNTS_BASE_URL=https://accounts.zoho.in
ZOHO_ORG_ID=
